<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-affectation-heading" data-cy="AffectationCreateUpdateHeading" jhiTranslate="sgrApp.affectation.home.createOrEditLabel">
        Create or edit a Affectation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.dateAffectation" for="field_dateAffectation"
            >Date Affectation</label
          >
          <div class="input-group">
            <input
              id="field_dateAffectation"
              data-cy="dateAffectation"
              type="text"
              class="form-control"
              name="dateAffectation"
              ngbDatepicker
              #dateAffectationDp="ngbDatepicker"
              formControlName="dateAffectation"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateAffectationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.updateAt" for="field_updateAt">Update At</label>
          <div class="input-group">
            <input
              id="field_updateAt"
              data-cy="updateAt"
              type="text"
              class="form-control"
              name="updateAt"
              ngbDatepicker
              #updateAtDp="ngbDatepicker"
              formControlName="updateAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="updateAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.article" for="field_article">Article</label>
          <select class="form-control" id="field_article" data-cy="article" name="article" formControlName="article">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="articleOption.id === editForm.get('article')!.value?.id ? editForm.get('article')!.value : articleOption"
              *ngFor="let articleOption of articlesCollection; trackBy: trackArticleById"
            >
              {{ articleOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.affectation.employee" for="field_employee">Employee</label>
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption"
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeById"
            >
              {{ employeeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
