<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-article-heading" data-cy="ArticleCreateUpdateHeading" jhiTranslate="sgrApp.article.home.createOrEditLabel">
        Create or edit a Article
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.article.libelleArticle" for="field_libelleArticle">Libelle Article</label>
          <input
            type="text"
            class="form-control"
            name="libelleArticle"
            id="field_libelleArticle"
            data-cy="libelleArticle"
            formControlName="libelleArticle"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.article.stock" for="field_stock">Stock</label>
          <input type="text" class="form-control" name="stock" id="field_stock" data-cy="stock" formControlName="stock" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.article.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.article.updateAt" for="field_updateAt">Update At</label>
          <div class="input-group">
            <input
              id="field_updateAt"
              data-cy="updateAt"
              type="text"
              class="form-control"
              name="updateAt"
              ngbDatepicker
              #updateAtDp="ngbDatepicker"
              formControlName="updateAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="updateAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sgrApp.article.categorie" for="field_categorie">Categorie</label>
          <select class="form-control" id="field_categorie" data-cy="categorie" name="categorie" formControlName="categorie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="categorieOption.id === editForm.get('categorie')!.value?.id ? editForm.get('categorie')!.value : categorieOption"
              *ngFor="let categorieOption of categoriesSharedCollection; trackBy: trackCategorieById"
            >
              {{ categorieOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
